body {
	max-width: 50em;
	margin: 0em auto;
	padding: 1em;
	font-family: sans-serif;
	line-height: 1.5;
}
p, ul, ol {
	margin: 0.75em 0em;
}
h1, h2, h3 {
	font-weight: bold;
	margin-bottom: 0em;
}
h1 {
	font-size: 2em;
	margin-top: 0em;
}
h2 {
	font-size: 1.5em;
	margin-top: 1em;
}
h3 {
	font-size: 1em;
	margin-top: 1.5em;
}
.cover-main {
	max-width: 50%;
	margin: 0em auto;
}
.cover-main img {
	width: 100%;
}
.music-list {
	list-style-type: none;
	padding: 0em;
}
.music-list-item {
	height: 10em;
	margin: 1em 0em;
	overflow: hidden;
}
.music-list-item div {
	height: 100%;
}
.music-list-cover {
	float: left;
	width: 10em;
	margin-right: 1em;
}
.music-list-cover img {
	height: 100%;
}
.pagination-previous, .pagination-next {
	width: 5em;
}
.pagination-previous {
	float: left;
	text-align: left;
}
.pagination-previous a:before {
	content: "\2190  ";
}
.pagination-next {
	float: right;
	text-align: right;
}
.pagination-next a:after {
	content: " \2192";
}
.pagination-current {
	margin: 0em 5em;
	text-align: center;
}
@media print {
	body {
		max-width: 100%;
		padding: 0em;
	}
}
