body {
	margin: 0em;
	padding: 1em;
	font-family: sans-serif;
	line-height: 1.5;
}
.body-overlay {
	width: 60%;
	margin: 0em auto;
}
p, ul, ol {
	margin: 0.75em 0em;
}
a {
	text-decoration: none;
}
.skip-to-main {
	position: absolute;
	width: 25%;
}
.skip-to-main a {
	position: absolute;
	border: 0.25em solid black;
	padding: 0.5em;
	background-color: white;
	color: black;
	z-index: 100;
	top: -100em;
}
.skip-to-main a:focus {
	top: 0em;
}
.site-title, h1, h2, h3 {
	font-weight: bold;
}
.site-title {
	text-align: center;
	font-size: 2em;
	margin-top: 0em;
}
h1 {
	font-size: 2em;
	margin-top: 0.75em;
	margin-bottom: 0.375em;
}
h2 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 0.75em;
}
.main-cover {
	max-width: 50%;
	margin: 0em auto;
}
.main-cover img {
	width: 100%;
}
.release-date {
	font-style: italic;
}
.music-list {
	list-style-type: none;
	padding: 0em;
}
.music-list-item {
	height: 10em;
	margin: 1em 0em;
	overflow: hidden;
}
.music-list-item div {
	height: 100%;
}
.music-list-cover {
	float: left;
	width: 10em;
	margin-right: 1em;
}
.music-list-cover img {
	height: 100%;
}
.pagination {
	position: relative;
}
.pagination * {
	display: inline-block;
}
.pagination-current {
	width: 100%;
	text-align: center;
}
.pagination-previous {
	position: absolute;
	left: 0em;
	text-align: left;
}
.pagination-previous a:before {
	content: "\2190  ";
}
.pagination-next {
	position: absolute;
	right: 0em;
	text-align: right;
}
.pagination-next a:after {
	content: " \2192";
}
@media print {
	.body-overlay {
		width: 100%;
	}
}
@media (max-width: 640px) {
	.body-overlay {
		width: 100%;
	}
}
